body{
	background-color: #ecf0f1;
}

a{
	text-decoration: none;
	color: #3498db;
}

#content img{
    width: 50%;
}

/*
//MAIN CONTENT HOME PAGE
*/
.header{
	width:100%;
	display: block;
}
.main-title{
	padding-top: 40px;
	width: 70%;
	margin-left: 15%;
	font-family: "Open Sans";
	font-weight: 300;
  z-index: 1001;
  position: absolute;
}
.main-title2{
    padding-top: 20px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
    font-family: "Open Sans";
    font-weight: 300;
    z-index: 1001;
}
.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }   
 
.rotate:hover   
{ 
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg);
}   
.circle{
    width: 5em; 
    height: 5em; 
    background-color: #2980b9;
   	border-radius: 50%
}



.circle1{
    width: 5em; 
    height: 5em; 
    background-color: #e67e22;
    
    -webkit-border-radius: 5em; 
    -moz-border-radius: 5em;
}

.circle2{
    width: 5em; 
    height: 5em; 
    background-color: #e74c3c;
    -webkit-border-radius: 5em; 
    -moz-border-radius: 5em;
}

.circle p {
    text-align: center; 
    padding-top: 15px;
    font-family: "Open Sans";
    font-weight: 300;
    color: white;
}
.circle1 p {
    text-align: center; 
    padding-top: 15px;
    font-family: "Open Sans";
     font-weight: 300;
    color: white;   
}
.circle2 p {
    text-align: center; 
    padding-top: 15px;
    font-family: "Open Sans";
    font-weight: 300;
    color: white;
}
.content-title{
	font-size: 45px;

	width: 25%;
}
.content-title a{
	text-decoration: none;
	color: black;
}
.content-subtitle{
	width: 30%;
	font-weight: 300; 
}

.grid{
  margin-left: 20%;
    margin-top: 5%;
}

#grid ul {
	list-style: none;
	padding-left: 0px;
}

.icon-list{
	display: inline-block;
	width :20%;
	margin-right: 5%;
	margin-left: 5%;
  padding-top: 5%;
}

.icon-list img{
	margin-top: 25px;
	width: 5em;
}

/*
BLOG CONTENT
*/

#content{
	margin: 100px auto;
    position: absolute;
    z-index: 1000;
}
.text{
	margin: 0 auto;
	padding-top: 15px;
    padding-bottom: 10px;
	width: 60%;
	font-family: "Lato";
    font-size: 15px;
	line-height: 32px;
}

.ribbon{
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    height: 50px;
    width: 15%;
    max-width: 150px;
    background-color: #34495e;
}

.ribbon-content{
    padding-top: 15px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    color: white;
}

.archive{
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
    text-align: center;
    font-family: "Open Sans";
}

#disqus_thread{
    margin: 0 auto;
    padding-bottom: 30px;
    width:80%;
}

.social-btn{
    margin: 40px auto;
    width: 50%;
}
/*
PROJECT SECTION
*/

#project{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}

/*
ABOUT SECTION
*/

#about{
    margin: 100px auto;
    position: absolute;
    z-index: 1000;
}

/*
OTHER
*/

code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}