.content-title{
	width: 100%;
}

.content-subtitle{
	width: 100%;
	margin-top: 15px;
}

.grid{
	width: 60%;
}

#content: {
	width:95%;
}

.text{
	width: 80%;
}
.ribbon{
    display: block;
    position: relative;
}

.ribbon-content{
	padding-top: 8px;
}